button:focus,input:focus,textarea:focus { outline: 0; }
.backpanel { background-size: cover; background-position: center; background-attachment: fixed; width: 100%; height: 100vh; opacity: 0.8; position: fixed; z-index: -1; top: 0; left: 0; animation: opacity 30s infinite linear; }
.splash { width: 100%; height: 100vh; color: red; display: flex; justify-content: center; align-items: center; }
.splash>.icon { font-size: 220px; animation: pluffy 2s infinite linear; }
.app { width: 100%; max-width: 640px; margin: auto; display: none; }
.guard .profile { color: white; font-size: 156px; max-width: 156px; margin: 0 auto -26px auto; display: block; text-shadow: 2px -2px 8px #ff9999; }
.input { font-size: 22px; border-bottom: 7px solid purple; font-family: 'tahoma'; }
.message { padding: 8px; }
.message .flex-container { display: flex; flex-direction: row; }
.message .flex-center { display: flex; justify-content: center; align-items: center; }
.message .input { height: 56px; transition: height 0.5s ease-out; margin: 0 4px; }
.message .pin { font-size: 22px; font-family: fantasy; display: flex; align-items: center; justify-content: center; width: 92px; }
.message .w3-row-padding { margin-top: 8px; }
.message .left-side { width: 72px; padding: 0; }
.message .right-side { padding-left: 16px; }
.message .message-card { display: flex; flex-direction: row; align-items: center; }
.message .message-card>div { padding: 8px 22px; margin-top: 6px; letter-spacing: normal; line-height: 1.2; max-width: 85%; }
.message .my-question { flex-direction: row-reverse; }
.message .new-response-form { display: flex; width: 100%; }
.message .new-response-form>input { height: 52px; border-bottom-left-radius: 8px; }
.message .new-response-form>button { border-bottom-right-radius: 8px; }
.message .w3-bar { border-top-left-radius: 8px; border-top-right-radius: 8px; background: rgba(0, 0, 0, 0.26); color: #000; }
.message .w3-bar>button { background: rgba(0, 0, 0, 0.05); color: #000; }
.message #response-modal .responses { width: 100%; display: inline-block; }

@keyframes toX {
    from { transform: translateX(-30px); opacity: 0; }
    to { transform: translateX(0px); opacity: 1; }
}
@keyframes scale {
    0% { transform: scale(0,0); opacity: 0; }
    80% { transform: scale(1.1,1.1); opacity: 1; }
    90% { transform: scale(0.9,0.9); opacity: 1; }
    100% { transform: scale(1,1); opacity: 1; }
}
@keyframes opacity {
    0% { opacity: 0.1; }
    50% { opacity: 1; }
    100% { opacity: 0.1; }
}
@keyframes pluffy {
    0% { transform: scale(0.8,0.8); }
    60% { transform: scale(0.9,0.9); }
    70% { transform: scale(1.2,1.2); }
    100% { transform: scale(0.8,0.8); }
}
