@charset "UTF-8";
.jq-message {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: opacity .3s, transform .4s;
  border-bottom: 3px solid purple;
  box-shadow: 0 2px 5px rgba(128, 128, 128, 0.62);
}

.jq-message.begin { transform: translateY(-100%); opacity: 0; }
.jq-message__group {
  padding: 8px;
  font-family: "Tahoma";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jq-message__group.info { background: #bcbcff; color: #000; }
.jq-message__group.success { background: #beffbc; color: #000; }
.jq-message__group.warning { background: #fff0bc; color: #000; }
.jq-message__group.error { background: #ffbcbc; color: #000; }
.jq-message__closeBtn {
  font-family: "Tahoma";
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 19px;
  border-radius: 2em;
  color: #000;
  height: 30px;
  width: 30px;
  text-align: center;
  transition: color .3s ease;
}
.jq-message-fadeOutUp { transform: translateY(-100%); opacity: 0; }
